<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toyproject.instagram.repository.UserMapper">
    <insert id="saveUser" parameterType="com.toyproject.instagram.entity.User">
        insert into user_tb
        values(0, #{email}, #{phone}, #{name}, #{username}, #{password}, #{provider})
    </insert>

    <select id="findUserByPhone"
            parameterType="string"
            resultType="com.toyproject.instagram.entity.User"
    >
        select
            user_id,
            email,
            phone,
            name,
            username,
            password,
            provider
        from
            user_tb
        where
            email = #{phoneOrEmailOrUsername}
            or phone = #{phoneOrEmailOrUsername}
            or username = #{phoneOrEmailOrUsername}
    </select>
    <select id="findUserByEmail"
            parameterType="string"
            resultType="com.toyproject.instagram.entity.User"
    >
        select
            user_id,
            email,
            phone,
            name,
            username,
            password,
            provider
        from
            user_tb
        where
            email = #{phoneOrEmailOrUsername}
            or phone = #{phoneOrEmailOrUsername}
            or username = #{phoneOrEmailOrUsername}
    </select>
    <select id="findUserByUsername"
            parameterType="string"
            resultType="com.toyproject.instagram.entity.User"
    >
        select
            user_id,
            email,
            phone,
            name,
            username,
            password,
            provider
        from
            user_tb
        where
            email = #{phoneOrEmailOrUsername}
            or phone = #{phoneOrEmailOrUsername}
            or username = #{phoneOrEmailOrUsername}
    </select>
</mapper>
